body {
    display: flex;
    flex-direction: column;
    font-family: PT Sans;
}

.yellowcolour{
    color: yellow;
}

.whitecolor{
    color: white;
}

.redcolor{
    color: red;
}

.redbg {
    background-color: red;
}

.yellowbg{
    background-color: yellow;
}

.ochrebg{
    background-color: #fbdb04;
}

.whitebg{
    background-color: white;
}

.creambg {
    background-color: #fffef3;
}

.center {
    text-justify: center;
}

#closenotif {
    width: 50px;
    border-color: red;
    margin: 15px;
    background-position: right;
}

#notif {
    background-color: red;
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding-left: 350px;
}

#logoy {
    width: 20px; 
    height: 20px; 
    margin-top: 13px; 
    margin-right: 8px;
}

#cross {
    padding-left: 270px;
}

button {
    margin: 5px;
}

.top:on-hover{
    color: red;
}

#tline {
    background-color: #fbdb04;
    display: flex;
    flex-direction: row;
    margin: 0px;
    height: 100px;
}

#nm {
    height: 80px; 
    margin-right: 90px;
}

#login {
    float: left; 
    display: flex; 
    flex-direction: row;
}

.float{
	position:fixed;
	width:100px;
	height:80px;
	top:150px;
	right:20px;
	background-color:#dd2a02;
	color:#FFF;
	border-radius:5px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.my-float{
	margin-top: 10px;
    color: #03e64b;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.whats{
    height: 50px;
    position: relative;
}

.whats input{
    height: 100%;
    width: 300px;
    padding-left: 50px;
    font-size: 18px;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    border: 2px solid coral;
}

.whats .icon{
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

.whats button{
    position: absolute;
    right: -30px;
    margin-top: 27px;
    transform: translate(-50%, -50%);
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid gray;
    outline: none;
    background: #03e64b;
    color: white;
    transition: 0.3s;
}

.whats button:hover{
    background: #00ff00a4;
}

.sqbox {
    width: 180px;
    height: 180px;
    padding-left: 20px;
    margin: 20px;
    border: solid rgb(32, 37, 32);
    border-width: 2px;
    border-radius: 15px;
    background-color: white;
}

.sqbox:hover {
    border: solid rgb(255, 0, 0);
}

.sqbox img{
    padding-left: 20px;
    width: 70px;
    height: 70px;
}

.h3{
    padding-left: 15px;
    font-size: 16px;
}

.sqbox p{
    padding-left: 15px;
}

.ddlist{
    margin: 20px;
}

#login {
    flex-direction: row;
}

#banner {
    padding-left: 50px;
    margin: 0px;
    background-image: url("cogopo.png");
    background-repeat: no-repeat;
}

#whatsappcont {
    display: flex;
    flex-direction: row;
}

.allist {
    margin-bottom: 0px;
}

.ctnr {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    flex: wrap;
    margin-left: 200px;
    margin-right: 180px;
}

#foot {
    margin-top: 0px;
    display: flex;
    flex: wrap;
    flex-direction: row;
    background-color: #ffbc03;
}

.list a:hover {
    text-decoration: underline;
}


@media only screen and (max-width: 760px){
    #closenotif {
        width: 50px;
        border-color: red;
        margin: 15px;
        background-position: right;
    }
    
    #notif {
        background-color: red;
        display: flex;
        flex-direction: row;
        margin: 0px;
        padding-left: 350px;
    }
    
    #logoy {
        width: 20px; 
        height: 20px; 
        margin-top: 13px; 
        margin-right: 8px;
    }
    
    #cross {
        padding-left: 270px;
    }
    
    button {
        margin: 5px;
    }
    
    .top:on-hover{
        color: red;
    }
    
    #tline {
        background-color: #fbdb04;
        display: flex;
        flex-direction: row;
        margin: 0px;
        height: 100px;
    }
    
    #nm {
        height: 80px; margin-right: 90px;
    }
    
    #login {
        float: left; 
        display: flex; 
        flex-direction: row;
    }
    
    .float{
        position:fixed;
        width:100px;
        height:100px;
        top:150px;
        right:20px;
        background-color:#dd2a02;
        color:#FFF;
        border-radius:5px;
        text-align:center;
        font-size:30px;
        box-shadow: 2px 2px 3px #999;
        z-index:100;
    }
    
    .my-float{
        margin-top:16px;
        color: #03e64b;
    }
    
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    .whats{
        height: 50px;
        position: relative;
    }
    
    .whats input{
        height: 100%;
        width: 300px;
        padding-left: 50px;
        font-size: 18px;
        outline: none;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 50px;
        border: 2px solid coral;
    }
    
    .whats .icon{
        position: absolute;
        left: 25px;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
    }
    
    .whats button{
        position: absolute;
        right: -30px;
        margin-top: 27px;
        transform: translate(-50%, -50%);
        padding: 8px 12px;
        cursor: pointer;
        border-radius: 50px;
        border: 1px solid gray;
        outline: none;
        background: #03e64b;
        color: white;
        transition: 0.3s;
    }
    
    .whats button:hover{
        background: #00ff00a4;
    }
    
    .sqbox {
        width: 200px;
        height: 200px;
        padding-left: 20px;
        margin: 20px;
        border: solid rgb(32, 37, 32);
        border-width: 2px;
        border-radius: 15px;
    }
    
    .sqbox:hover {
        border: solid rgb(255, 0, 0);
    }
    
    .sqbox img{
        padding-left: 20px;
    }
    
    .sqbox h3{
        padding: 5px;
        font-size: 16px;
    }
    
    .ddlist{
        margin: 20px;
    }
    
    #login {
        flex-direction: row;
    }
    
    #banner {
        padding-left: 100px;
        margin: 0px;
    }
    
    #whatsappcont {
        display: flex;
        flex-direction: row;
    }
    
    .allist {
        margin-bottom: 0px;
    }
    
    .ctnr {
        display: flex;
        flex-direction: row;
        font-size: 15px;
        flex: wrap;
        margin-left: 200px;
        margin-right: 180px;
    }
    
    #foot {
        margin-top: 0px;
        display: flex;
        flex: wrap;
        flex-direction: row;
        background-color: #ffbc03;
    }
}
  