body {
    background-color: aquamarine;
    padding: 70px;
}

#functions{
    margin-left: 300px;
    background-color: blanchedalmond;
    width: 500px;
    height: 100px;
}

#functions div{
    margin-left: 50px;
    margin-top: 50px;
}

#taskList{
    margin-left: 300px;
}