#ph {
    width: 100px;
    height: 100px;
    margin: 10px auto;
    border: 5px;
    border-color: darkblue;
}

h3 {
    color: darkred;
}

h2{
    color: purple;
    background-color: aquamarine;
}

li {
    color: darkorchid;
}